body {
  background-color: #afccea;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
}

h1 {
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
  border: 2px solid #091017;
  padding: 2rem;
  border-radius: 10px;
  background-color: rgb(108, 82, 225);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  max-width: 700px;
  margin: 0 auto 2rem auto;
  text-align: center;
  color: white; 
  transition: background-color 0.3s ease;
  
}
h1:hover{
    background-color: rgb(85, 60, 200);
}

h5.card-title {
  font-size: 1.25rem;
}

.lead {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  margin-bottom: 2rem;
  color: white;
}

.card {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

